spring:
  datasource:
    url: jdbc:h2:mem:webelec-v1;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    username: sa
    password:

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: false
